.yaramiop:hover{
    transform:scale(1.1);
}

.yaramiop{
    transition: all .2s ease-in-out;
}

#bootperso{
    transition: all .2s ease-in-out;
}

#bootperso:hover{
    transform:scale(1.1);
}

h1,h2,h3,h4,h5,h6{
    

    font-family: 'Niramit', sans-serif;

    /* font-family: 'Mali', cursive; */

    /* font-family: 'K2D', sans-serif; */


}

#yyyYYY{
    font-family: 'K2D', sans-serif;
}

#marchons:hover{
    background:rgb(195, 194, 194);
}

#marchonssupp:hover{
    background:rgb(163, 163, 163);
}

#swaggyyer{
    margin-right: 50vh;
}







